:host{
    position:relative;
    top : 0px !important ;
}

.menu{
    position : absolute ;
    margin : 1rem ;
    display : flex ;
    flex-flow: column nowrap ; 
    align-items: center ;
    justify-content: center ;
    background-color: white ;
    div{
        cursor: pointer ;
        width : 100% ;
        border : 1px solid gray ;
        padding : 1rem ;
    }
}